.custom-card {
    background-color: rgba(255, 255, 255, 0.30); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px;
    height: 100%;
    transition: box-shadow 0.3s ease;
    margin-bottom: 30px;
   display: flex;
   justify-content: space-around;
   
  }
  
  .custom-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  }
  
  .card-title,
  .card-text {
    text-align: center;
  }
  
  .card-footer {
    text-align: center;
  }
  